/* Animation on Text */
@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

/* Additional styling for the content */
.home {
  background-image: url('../../assets/coderankbg.jpeg');
  background-color:  rgba(64, 10, 92, 1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Set the height to cover the entire viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home h1 {
  color: white;
  font-size: 3rem;
  font-family: monospace;
}

.home h1 .code-animation {
  animation: fadeInOut 3s infinite ; /* Adjust duration and steps as needed */
}

.home h4 {
  color: white;
  font-size: 1.5rem;
  margin-top: 1rem;
  font-family: monospace;
  animation: fadeInOut 3s infinite; /* Adjust duration as needed */
}

.sign-in {
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  background: linear-gradient(135deg, #7f07a4, #c43a8b); /* Purplish gradient */
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: medium;
  border: 1px solid transparent;
}

.continue-as-guest::before {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 20px;
  background-color: black;
  z-index: -1;
}

.continue-as-guest::after {
  content: attr(data);
  font-size: 16px;
  background: linear-gradient(to left, #00FFA3, #7f07a4);
  color: transparent;
  transition: 200ms
}

.continue-as-guest {
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  position: relative;
  border-radius: 20px;
  background: linear-gradient(to right, #00FFA3, #7f07a4);
  cursor: pointer;
  z-index: 1;
  color: aliceblue;
  font-size: medium;
}

.continue-as-guest:hover::before {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.continue-as-guest:hover::after{
  color: white;
}

.sign-in:hover {
  border: 1px solid white;
}

/* Animated btn glow on hover */
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: linear-gradient(135deg, #7f07a4, #c43a8b);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #7f07a4, #c43a8b);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
